@charset "UTF-8";
/* CSS Document */

html {
  font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 1.6em;
	line-height: 1.5;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #333;
}

h1 {
  font-size: 36px;
}

h2 {
	font-size: 36px;
}

.subtitle-jp {
	font-size: 18px;
	font-weight: 300;
	color: #909090;
}

h3 {
  font-size: 22px;
}

p, a, dl, td {
	font-size: 16px;
	font-weight: 300;
	color: #909090;
}

small {
	font-size: 13px;
	font-weight: 500;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

dl dt {
	font-size: 13px;
}

table tr th {
  font-size: 18px;
}

img {
  max-width: 100vw;
	vertical-align: bottom;
}

/** header **/

.header-inner {
	width: 375px;
	text-align: center;
	align-items: center;
	margin: 0 auto;
	padding: 0 30px;
}

.header{
	width: 100%;
  height: 70px;
	background: rgba(255, 255, 255, 0.6);
}

.header-logo {
	text-align: left;
	margin: 4px 0 14px 0;
}

/** main **/

.section {
	margin: 32px auto 64px;
	width: 315px;
	text-align: center;
}

.subtitle {
	margin: 0 auto 32px;
	text-align: center;
}

.subtitle-jp {
	display: block;
}

/** top **/

#top img {
	width: 100%;
	height: 250px;
}

/** news **/


dt, dd {
	text-align: left;
}

dd {
	margin-left: 0;
	margin-bottom: 24px;
}

dd:last-of-type {
	margin-bottom: 32px;
}

.news-more {
  display: block;
	width: 256px;
  height: 53px;
  line-height: 53px;
	border: solid 1.5px #909090;
  border-radius: 30px;
	margin-left: 29.5px;

}

/** service **/

.service-content {
	margin-bottom: 40px;
}

.service-content:last-of-type {
	margin-bottom: 0;
}

.service-content img {
	width: 315px;
}

.service-content h3 {
	margin: 8px 0;
}

.service-content p {
	margin: 0;
}

/** about **/

table {
	width: 315px;
}

tr {
	display: block;
	border-bottom: solid 1px #CCCCCC;
	padding: 24px 0;
}

tr:first-of-type {
	border-top: solid 1px #CCCCCC;
}

th, td {
	display: block;
	text-align: left;
}

/** footer **/

.footer {
	width: 100%;
  height: 113px;
	background-color: #D9D9D9;
}

.footer-inner {
	width: 375px;
	text-align: center;
	align-items: center;
	margin: 0 auto;
	padding: 0 30px;
}

.footer-logo {
	font-size: 36px;
	font-weight: 700;
	color: #333;
	text-align: left;
	margin: 0 0 30px;
}


/* ハンバーガーメニュー */
.menu-btn {
	position: fixed;
	top: 10px;
	right: 2.85714285714vw; /* 10px */
	display: flex;
	height: 60px;
	width: 60px;
	justify-content: center;
	align-items: center;
	z-index: 90;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background-color: #333;
	position: absolute;
}

.menu-btn span:before {
	bottom: 8px;
}
.menu-btn span:after {
	top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
	background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
	bottom: 0;
	transform: rotate(45deg);
	background-color: #fff;
}

#menu-btn-check:checked ~ .menu-btn span::after {
	top: 0;
	transform: rotate(-45deg);
	background-color: #fff;
}

#menu-btn-check {
	display: none;
}

.menu-content {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 100%; /*leftの値を変更してメニューを画面外へ*/
	z-index: 80;
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.5s; /*アニメーション設定*/
}

.menu-content ul {
	padding: 70px 30px 0;
}

.menu-content ul li {
	border-bottom: solid 1px #fff;
}

.menu-content ul li a {
	display: block;
	width: 100%;
	font-size: 24px;
	box-sizing: border-box;
	color:#fff;
	padding: 16px;
	position: relative;
}

.menu-content ul li a::before {
	content: "";
	width: 7px;
	height: 7px;
	border-top: solid 2px #fff;
	border-right: solid 2px #fff;
	transform: rotate(45deg);
	position: absolute;
	right: 11px;
	top: 28px;
}

#menu-btn-check:checked ~ .menu-content {
	left: 0; /*メニューを画面内へ*/
}

#menu-btn-check:checked ~　.menu-content a:active {
	left: 100%; /*メニューを画面外へ*/
}

/*PAGE TOPボタン追加*/
#page_top {
	position: fixed;
	right: 2.85714285714vw; /* 10px */
	bottom: 30px;
	display: flex;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	z-index: 97;
	background: #333; /*ボタンの色*/
	opacity: 0.6;
	border-radius: 50%; /*角の丸み*/
}

#page_top a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
}

#page_top a::before{
	font-family: "Font Awesome 5 Free";
	content: "\f102"; /*アイコン*/
	font-weight: 700;
	font-size: 25px;
	color: #fff; /*アイコンの色*/
	position: absolute;
	top: 5px;
	left: 17px;
}
